*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
.text-primary{
    color: #FD6E0A;
}
/* Header & Navigation Styles */
nav{
    display: flex;
    justify-content: space-between;
    margin: 51px 226px;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-left: 50px;
}
/* Hire me button design */
button{
    background-color: #FD6E0A;
    color: white;
    width: 150px;
    height: 64px;
    font-weight: 700;
    font-size: 20px;
    border: none;
    border-radius: 5px;
}
/* Banner Styles */
.banner{
    display: flex ;
    margin: 0px 226px;
    align-items: center;
}
div div h3{
    font-weight: 600;
    font-size: 45px;
    line-height: 61px;
    color: #474747;
}
div div h1{
    font-weight: 700;
    font-size: 85px;
    line-height: 116px;
    color: #181818;
    margin-bottom: 20px;
}
div div p{
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: #757575;
    margin-bottom: 30px;
}
/* Download CV design */
.download{
    width: 200px;
    height: 64px;
}