*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
.text-primary{
    color: #FD6E0A;
}
header{
    background: #FFF8F3;
    background-image: url('/images/header_bg.png') , url('/images/developer.png');
    background-repeat: no-repeat;
    background-position: right bottom, left;
}
/* Header & Navigation Styles */
nav{
    display: flex;
    justify-content: space-between;
    margin: 0px 226px;
    padding-top: 50px;
    padding-bottom: 25px;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-left: 50px;
}
/* Hire me button design */
button{
    background-color: #FD6E0A;
    color: white;
    width: 200px;
    height: 64px;
    font-weight: 700;
    font-size: 20px;
    border: none;
    border-radius: 5px;
}
/* Banner Styles */
.banner{
    display: flex ;
    margin: 0px 38px 0px 226px;
    align-items: center;
}
div div h3{
    font-weight: 600;
    font-size: 45px;
    line-height: 61px;
    color: #474747;
}
div div h1{
    font-weight: 700;
    font-size: 85px;
    line-height: 116px;
    color: #181818;
    margin-bottom: 20px;
}
div div p{
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: #757575;
    margin-bottom: 30px;
}
/* Download CV design */
.download{
    width: 200px;
    height: 64px;
}
.download-contact{
    width: 160px;
    height: 64px;
    background: #FFF8F3;
    color: #FD6E0A;
     border-radius: 10px;
    border-color: #FD6E0A;
    border:solid 1px;
    margin-left: 30px;
}
/* Mains section */
main{
    max-width: 1140px;
    margin: 0px   auto;
}
/* About section styles */
.about{
    background-color: #FFF8F3;
    padding: 130px 157px;
}
.section-title{
    margin-bottom: 30px;
    text-align: center;
    color: #181818 ;
    font-weight: 700;
    font-size: 35px;
}
.section-description{
    margin-bottom: 30px;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #757575;
}
/* About Mary info */
.about-info-container{
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.info-title{
    font-weight: 400;
    font-size: 20px;
    color: #757575;
    margin: 0px;
}
.info-description{
    font-weight: 700;
    font-size: 20px;
    color: #474747;
    margin: 10px;
}
section{
    margin-top: 130px;
}
/* What I Do Styles */
.what-i-do > p{
    padding: 0px 157px;
}

/* Skill Styles */
.skill-container{
    display: flex;
    margin-top: 50px;
    gap: 24px;
}
.skill{
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 30px 30px  0px 30px;
}
.skill-title{
    font-weight: 700;
    font-size: 20px;
    color: #181818;
    margin-top: 30px;
    margin-bottom: 20px;
}
.skill-description{
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #757575;
}
/* Resume Styles */
.resume-container{
    display: flex;
    gap: 24px ;
    margin-top: 113px;
}
.resume-item{
    margin-top: 30px;
    margin-bottom: 30px;
}
.resume-title{
    color: #474747;
    font-weight: 700;
    font-size: 30px;
}  
.resume .title{
    color: #474747;
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 10px;
}
.resume .sub-title{
    color: #757575;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;
}
.resume .description{
    color: #757575;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
}
.resume-buton{
    margin-top: 50px;
    text-align: center;
}
/* Contact Form Styles*/
.contact{
    display: flex;
    gap: 117px;
}
.contact .section-title{
    text-align: left;
}
footer{
    background: #FFF8F3;
    margin-top: 113px;
    padding: 5px 230px 130px;
}
.contact p{
    color: #474747;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 30px;
}
a{
    text-decoration: none;
}
a img{
    margin-right: 24px;
}
.input{
    height: 64px;
    width: 100%;
    margin-bottom: 24px;
    border: 0;
    padding-left: 30px;

}
textarea{
    width: 100%;
    height: 180px;
    margin-bottom: 24px;
    border: 0;
    padding-left: 30px;
    padding-top: 30px;
}
form .submit{
    width: 150px;
    height: 64px;
    background: #FD6E0A;
    border-radius: 5px;
    border: solid;
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
    position: bottom;
}